body{
	margin: 0 auto;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto', sans-serif;
}
p, a{
	font-family: 'Open Sans', sans-serif;
}
.container{
	padding: 0 12%;
	margin: 0 auto;
}
/*navigation---------------*/
.header{
	padding: 0 12%;
	-webkit-transition: top .3s;
	transition: top .3s;
}
.logo{
	float: left;
	font-size: 2.4em;
	text-transform: uppercase;
	padding: 0.4em 0;
}
.header-container{
	text-align: center;
}
.header-container  nav{
	float: right;
}
.header-container  a{
	text-decoration: none;
}
.header-container  nav a{
	display: inline-block;
	padding: 2.5em 0.42em;
	text-decoration: none;
	color: #000;
	opacity: 0.9;
}
.header-container nav a:hover{
	opacity: 0.6;
}
.divider{
	height: 80px;
	display: none;
}
/*Intro---------------------------*/
.intro{
	padding: 11.2em 0 8em;
	line-height: 4.4em;
	height: 80%;
	border-bottom: 2px solid #F9F9FB;
}
.intro h1{
	font-size: 1.8em;
	color: #212121;
}
.dashed{
	border-bottom: 2px dashed #000;
}
/*Portfolio---------------------*/
.portfolio{
	padding: 3em 0;
	background: #F9F9FB;
}
.portfolio h2{
	text-align: center;
	padding: 0 0 2em 0;
}
.clearfix{
	margin: 2em auto;
	clear: both;
	padding: 2em;
}
.work-item img.right{
	margin: 0;
	float: right;
	width: 50%;
	height: auto;
	padding: 0 0 2em 2em;
}
.work-item img.left{
	float: left;
	width: 50%;
	height: auto;
	padding: 0 2em 2em 0;
}
.work-item h4{
	margin: 0;
	font-size: 1.4em;
}
.clearfix::after{
	content: "";
	clear: both; 
	display: table;
}
/*about-----------------*/
.about{
	padding: 8em 0;
}
/*Contact----------------*/
.contact{
	padding: 4em 0 12em 0;
	background: #F9F9FB;
}
.contact .container{
	text-align: center;
}
.contact h3{
	font-size: 1.4em;
	padding: 2em 0;
}
#contact-btn{
	background: #536DFE;
	border: none;
	border-radius: 1.8em;
	padding: .72em 2.2em;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}
#contact-btn:hover{
	color: #000;
}
/*scroll down button----*/
#scroll-up{
	position: fixed;
	transform: rotate(135deg);
	display: none;
	margin: 0;
	bottom: 4%;
	right: 4%;
	width: 1.42em;
	height: 1.42em;
	border-radius: 8%;
	border: 2px solid #000;
	border-width: 0 0 .2em .2em;
}
/*footer----------------*/
footer{
	border-top: 2px solid #F9F9FB;
	text-align: center;
}
svg{
	padding: 1.2em;
	width: 1.8em;
	height: 1.8em;
}
.icon a{
	text-decoration: none;
}
.icon:hover{
	pointer: cursor;
}

/*Adding responsiveness*/
@media all and (max-width: 42em) {
	/*header, nav & intro---*/
	.container{
		padding: 0 2.6em;
	}
	.header {
		padding: 1em 0 0 0;
	}
	.logo {
		float: none;
		font-size: 1.88em;
	}
	.header-container nav {
		float: none;
	}
	.header-container nav a {
		font-size: 0.9em;
		padding: 0.6em;
	}
	.intro{
		font-size: 0.7em;
		padding: 4em 0 6em 0;
	}
	/*portfolio & about------------*/
	.portfolio, .about{
		padding: 4em 0;
	}
	.clearfix{
		margin: 2em auto;
		clear: both;
		padding: 0;
	}
	.work-item img.right, .work-item img.left{
		width: 100%;
		height: auto;
	}
	/*contact & footer-----*/
	.contact{
		padding: 4em 0 7em 0;
	}
	#contact-btn{
		padding: 0.6em 1.6em;
		font-size: 14px;
	}
	#scroll-up{
		bottom: 4%;
		right: 8%;
		width: .88em;
		height: .88em;
		border-width: 0 0 .18em .18em;
	}
	footer{
		padding: 1em 0;
	}
}
