/*navigation---------------*/
header{
	height: 60px;
	line-height: 30px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: top 0.2s ease-in-out;
	background: #000;
}
#logo{
	position: absolute;
	padding: 15px 0 0 40px;
	text-transform: uppercase;
	font-size: 2em;
	color: #fff;
	text-decoration: none;
}
#nav{
	position: absolute;
	right: 2%;
	top: 0;
}
#nav ul li{
	padding: 0 2em;
	display: inline-block;
	list-style: none;
}
#nav ul li a{
	display: block;
	text-decoration: none;
	padding: 0 10px;
	color: #fff;
}
#nav ul li a:hover{
	color: #C0D7E3;
}
.nav-up{
	top: -60px;
}
/*Hero---------------------------*/
body{
	margin: 0 auto;
	background: #619AB8;
	padding-top: 60px;
}
.container{
	margin: 0 auto;
	width: 80%;
	padding: 4% 8%;
}
.about{
	min-height: 600px;
}
h1{
	font-size: 4em;
	padding-bottom: 40px;
}
h3{
	font-size: 1.4em;
	line-height: 1.4em;
}
.text{
	background: rgba(255,255,255,0.6); 
	display: inline;
	line-height: 46px;
}
/*Portfolio ---------------------*/
.portfolio{
	height: 500px;
	background: #C0D7E3;
}
.portfolio h3{
	text-align: center;
}
/*Contact----------------*/
.contact{
	padding-top: 80px;
	height: 400px;
}
.contact .container{
	text-align: center;
}
.contact a{
	background: #c0d7e3;
}
