body{
	margin: 0 auto;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Playfair Display', serif;
}
p, a, footer span{
	font-family: 'Alice', serif;
}
h3, h5{
	font-weight: normal;
}
p{
	line-height: 1.6em;
	font-size: 1.16em;
	color: #52616A;
}
.container{
	padding: 0 12%;
	margin: 0 auto;
}
/*navigation---------------*/
.logo{
	float: left;
	font-size: 2.8em;
	text-transform: uppercase;
	padding: 0.4em 0;
	color: #000;
}
.header-container{
	padding: 0 12%;
	text-align: center;
}
.header-container nav{
	float: right;
}
.header-container a{
	text-decoration: none;
}
.header-container nav a{
	display: inline-block;
	padding: 2.8em 0.42em;
	text-decoration: none;
	opacity: 0.9;
	color: #000;
}
.header-container nav a:hover{
	opacity: .4;
}
.divider{
	height: 20px;
	display: none;
}
/*Intro---------------------------*/
.intro{
	padding: 10em 0 14em 0;
	height: 80%;
}
.intro h1{
	font-size: 3.4em;
}
.intro h3{
	color: #52616A;
	line-height: 1.52em;
}
.intro h5{
	color: #52616A;
	padding: 1.8em 0 0 0;
}
.dashed{
	border-bottom: 2px dashed #000;
}
/*about-----------------*/
.about{
	padding: 2em 0 14em 0;
}
.about h2{
	padding: .6em 0;
	font-size: 1.52em;
}
.about img.right{
	float: right;
	padding: .8em 4em;
}
/*Portfolio---------------------*/
.portfolio{
	margin: 1.6em 0;
	padding: 3em 0;
}
.portfolio h2{
	text-align: center;
	font-size: 1.84em;
}
.clearfix{
	clear: both;
	padding: 7.2em 0;
}
.clearfix img.right{
	float: right;
	height: auto;
	padding: 0 0 2em 4em;
}
.clearfix img.left{
	float: left;
	height: auto;
	padding: 0 4em 2em 0;
}
.portfolio .container:nth-child(even){
	background: #F5F7F9;
}
.clearfix h4{
	margin: 0;
	font-size: 1.38em;
}
.clearfix::after{
	content: "";
	clear: both; 
	display: table;
}
.row{
	text-align: center;
	padding: 2em 0;
}
.launch-btn{
	background: #FECE00;
	padding: .7em 2.6em;
	color: #fff;
	text-decoration: none;
}
/*contact--------------*/
.contact{
	padding: 4em 0 16em 0;
	text-align: center;
}
.contact h2{
	font-size: 1.58em;
}
.contact h3{
	font-weight: normal;
	padding: 1em 0 1.8em 0;
}
#contact-btn{
	background: #2F60A2;
	border: none;
	border-radius: 1.8em;
	padding: .72em 2.2em;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}
#contact-btn:hover{
	color: #000;
}
/*scroll button----*/
#scroll-up{
	position: fixed;
	transform: rotate(135deg);
	display: none;
	margin: 0;
	bottom: 4%;
	right: 4%;
	width: 1.38em;
	height: 1.38em;
	border-radius: 8%;
	border: 2px solid #000;
	border-width: 0 0 .2em .2em;
}
/*footer----------------*/
footer{
	border-top: 1px solid #F4F4F4;
	padding: 1em;
}
footer span{
	font-size: .88em;
}
svg{
	float: right;
	padding: 0 .88em;
	width: 1.48em;
	height: 1.48em;
}
.icon a{
	text-decoration: none;
}
.icon:hover{
	pointer: cursor;
}
