<!DOCTYPE html>
	<html>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="/css/responsive.css">
			<link href="https://fonts.googleapis.com/css?family=Alice|Playfair+Display" rel="stylesheet">
		</head>
		<body>
			<a id="home"></a>
			<header>
				<div class="header-container">
					<a href="https://windan11.github.io/" class="logo">at.</a>
					<nav>
						<a href="#about">About Me</a>
						<a href="#portfolio">Portfolio</a>
						<a href="#contact">Get In Touch</a>
					</nav>
				</div>
			</header>
				
			<div class="divider"></div>
	
			<section class="intro">
				<div class="container">
					<h1>Hi, I'm Anh Thach, a self-taught web developer based in Los Angeles, CA. I enjoy teaching myself HTML, CSS and Javascript and see what I can create. </h1>
					<h3>Previously, I did my undergraduate study in Chemistry. While I would love to tell you good chemistry jokes, all of them <i class="dashed">argon</i>. *
					</h3>
					<h5>* Bad joke intended.</h5>
				</div>
			</section>
			
			<a id="about"></a>
			<section class="about">
				<div class="container">
					<img src="assets/profile.png" class="right" alt="profile picture">
					<h2>About Me</h2>
					<p>I enjoy creating from an idea and seeing a project comes to life, hence my switch to web development.</p>
					<p>When I'm not working on projects and teaching myself coding, I enjoy catching up with family and friends over dinners or small gatherings. I strive to be a lifelong student from books, strangers, family or friends. Sometimes, you can find me spewed out random knowledge I learned.</p>
				</div>
			</section>
			
			<a id="portfolio"></a>
			<section class="portfolio">
				<h2>Selected projects</h2>
				<div class="container">
					<div class="clearfix">
						<img src="assets/todo.png" class="left" alt="screenshot of project 1">
						<h4>To-Do List</h4>
						<p>A simple to-do list for shopping list, homework  assignment, daily tasks, and etc. Users can enter many list as desired and have the ability to erase and complete the task upon a click. To-Do List is built on Javascript with no jQuery or Bootstrap.</p>
						<div class="row">
							<a class="launch-btn" href="https://windan11.github.io/to-do/">Launch</a>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="clearfix">
						<img src="assets/quote.png" class="right" alt="screenshot of project 2">
						<h4>Random Quote</h4>
						<p>A simple web project based from FreeCodeCamp to generate random quote. Users have the ability to tweet quote directly to Twitter. The project is built on Javascript, jQuery, and icon from Font Awesome.</p>
						<div class="row">
							<a class="launch-btn" href="https://windan11.github.io/quote/">Launch</a>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="clearfix">
						<img src="assets/todo.png" class="left" alt="screenshot of project 4">
						<h4>Weather API</h4>
						<p>A web application based from FreeCodeCamp to forecast the weather at user's current location.</p>
						<div class="row">
							<a class="launch-btn" href="#">Launch</a>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="clearfix">
						<img src="assets/quote.png" class="right" alt="screenshot of project 5">
						<h4>Demo Website</h4>
						<p>A demo website from start to finish for a branding or marketing company. The website is built on minimal Javascript and mainly HTML and CSS.</p>
						<div class="row">
							<a class="launch-btn" href="https://windan11.github.io/demo-website/">Launch</a>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="clearfix">
						<img src="assets/postcard.png" class="left" alt="screenshot of project 6">
						<h4>Postcard</h4>
						<p>Another personal project I created to understand CSS transition with objects positioning on top of each other.</p>
						<div class="row">
							<a class="launch-btn" href="https://windan11.github.io/postcard/">Launch</a>
						</div>
					</div>
				</div>
			</section>
				
			<a id="contact"></a>
			<section class="contact">
				<div class="container">
					<h2>Each day, I focus on building and learning best practices in my projects. </h2>
					<h3>If you like what you see, let's talk.</h3>
					<a id="contact-btn" href="mailto:athach28@gmail.com">Contact Me</a>
				</div>
			</section>
				
			<a href="#home" id="scroll-up" address="true"></a>
				
			<footer>
				<div class="container">
					<span>Design &amp Code by Anh Thach 2018</span>
				<a class="icon" href="https://github.com/windan11">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
						<path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/
					</svg>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M64 5.103c-33.347 0-60.388 27.035-60.388 60.388 0 26.682 17.303 49.317 41.297 57.303 3.017.56 4.125-1.31 4.125-2.905 0-1.44-.056-6.197-.082-11.243-16.8 3.653-20.345-7.125-20.345-7.125-2.747-6.98-6.705-8.836-6.705-8.836-5.48-3.748.413-3.67.413-3.67 6.063.425 9.257 6.223 9.257 6.223 5.386 9.23 14.127 6.562 17.573 5.02.542-3.903 2.107-6.568 3.834-8.076-13.413-1.525-27.514-6.704-27.514-29.843 0-6.593 2.36-11.98 6.223-16.21-.628-1.52-2.695-7.662.584-15.98 0 0 5.07-1.623 16.61 6.19C53.7 35 58.867 34.327 64 34.304c5.13.023 10.3.694 15.127 2.033 11.526-7.813 16.59-6.19 16.59-6.19 3.287 8.317 1.22 14.46.593 15.98 3.872 4.23 6.215 9.617 6.215 16.21 0 23.194-14.127 28.3-27.574 29.796 2.167 1.874 4.097 5.55 4.097 11.183 0 8.08-.07 14.583-.07 16.572 0 1.607 1.088 3.49 4.148 2.897 23.98-7.994 41.263-30.622 41.263-57.294C124.388 32.14 97.35 5.104 64 5.104z"></path>
			<path d="M26.484 91.806c-.133.3-.605.39-1.035.185-.44-.196-.685-.605-.543-.906.13-.31.603-.395 1.04-.188.44.197.69.61.537.91zm-.743-.55M28.93 94.535c-.287.267-.85.143-1.232-.28-.396-.42-.47-.983-.177-1.254.298-.266.844-.14 1.24.28.394.426.472.984.17 1.255zm-.575-.618M31.312 98.012c-.37.258-.976.017-1.35-.52-.37-.538-.37-1.183.01-1.44.373-.258.97-.025 1.35.507.368.545.368 1.19-.01 1.452zm0 0M34.573 101.373c-.33.365-1.036.267-1.552-.23-.527-.487-.674-1.18-.343-1.544.336-.366 1.045-.264 1.564.23.527.486.686 1.18.333 1.543zm0 0M39.073 103.324c-.147.473-.825.688-1.51.486-.683-.207-1.13-.76-.99-1.238.14-.477.823-.7 1.512-.485.683.206 1.13.756.988 1.237zm0 0M44.016 103.685c.017.498-.563.91-1.28.92-.723.017-1.308-.387-1.315-.877 0-.503.568-.91 1.29-.924.717-.013 1.306.387 1.306.88zm0 0M48.614 102.903c.086.485-.413.984-1.126 1.117-.7.13-1.35-.172-1.44-.653-.086-.498.422-.997 1.122-1.126.714-.123 1.354.17 1.444.663zm0 0"></path>
					</svg>
				</a>
				
				<a class="icon" href="https://www.linkedin.com/in/anh-thach">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
						<path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/>
					</svg>
				</a>
				</div>
		</footer>
			</div>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<script src= "scrollup.js"></script>
		</body>
	</html>
