<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav id="nav">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="#header">Portfolio</a></li>
					<li><a href="#about">About Me</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</nav>
			
			<section class="intro">
				<div class="container">
					<div class="container">
						{{ content }}
					</div><!-- /.container -->
				</div>
			</section>
			
			<section class="portfolio">
				<div class="container">
					<h3>Recent projects</h3>
				</div>
			</section>
			<section class="about-me">
				<div class="container">
					<h3>About Me</h3>
					<h5>According to my sister, this is me.</h5>
					<p>In the cartoon world, I'd look like this. In both cartoon and on Earth, my name is Anh Thach and I'm on this self-learning journey of front and back-end web development. This page contains by-products of my journey. </p>
				</div>
			</section>
			<section class="contact">
				<div class="container">
					<h3>If you like my work, get in touch.</h3>
				</div>
			</section>
		</body>
	</html>
