<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<section class="hero">
				<div class="container centered">
					<h1 class="big-font">Welcome! </h1>
					<h2>I am self-taught developer with interest in simple &amp clean design. </h2>
				</div>
				<a href="#header" id="scroll-down" address="true"></a>
			</section>
			
			<nav class="header">
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About Me</a></li>
	        		<li><a href="/projects">Projects</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:blank@gmail.com">email</a></li>
	        		<li><a href="https://github.com/windan11">github.com/windan11</a></li>
				</ul>
			</footer>
		</body>
	</html>
