---
layout: default
---

<section class="intro">
	<div class="container">
		{{ content }}
	</div>
	
	<div class="row">
	  <a class="contact-btn" href="mailto:athach28@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>Get In Touch</a>
	  <a class="contact-btn" href="https://github.com/windan11"><i class="fa fa-github"  aria-hidden="true"></i>Github</a>
	  <a class="contact-btn" href="https://www.linkedin.com/in/anh-thach"><i class="fa fa-linkedin" aria-hidden="true"></i>LinkedIn</a>
	</div>

</section>
			
<a id="portfolio"></a>
<section class="portfolio">
	<h2>Selected Projects</h2>
	<div class="container">
		<div class="clearfix">
			<img src="assets/todo.png" class="left" alt="screenshot of project 1">
			<h4>To-Do List</h4>
			<p>A simple to-do list for shopping list, homework  assignment, daily tasks, and etc. Users can enter many list as desired and have the ability to erase and complete the task upon a click. To-Do List is built on Javascript with no jQuery or Bootstrap.</p>
			<div class="row">
				<a class="launch" href="https://windan11.github.io/to-do/">View Live &rarr;</a>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="clearfix">
			<img src="assets/quote.png" class="right" alt="screenshot of project 2">
			<h4>Random Quote</h4>
			<p>A simple web project generates random quote. Users have the ability to tweet quote directly to Twitter. The project is built on Javascript, jQuery, and icon from Font Awesome.</p>
			<div class="row">
				<a class="launch" href="https://windan11.github.io/quote/">View Live &rarr;</a>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="clearfix">
			<img src="assets/weather.png" class="left" alt="screenshot of project 4">
			<h4>Weather API</h4>
			<p>A local weather app that utilizes Weather Underground API to generate city, weather, and conditions of user's current location. </p>
			<div class="row">
				<a class="launch" href="https://windan11.github.io/weather-api/">View Live &rarr;</a>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="clearfix">
			<img src="assets/wiki.png" class="right" alt="screenshot of project 5">
			<h4>Wikipedia Viewer</h4>
			<p>Using Wikipedia's API, user can enter and search desired terms to get link to wikipedia articles.</p>
			<div class="row">
				<a class="launch" href="https://windan11.github.io/wiki-viewer/">View Live &rarr;</a>
			</div>
		</div>
	</div>
</section>
